/*SEARCH*/

.wrap-nuancier {
    position: relative;
}

.fa-chevron-left {
    position: absolute;
    top: 104px;
    left: -5px;
    font-size: 30px;
    cursor:pointer;
    z-index: 3;
}

.fa-chevron-right {
    position: absolute;
    right: 10px;
    top: 104px;
    font-size: 30px;
    cursor:pointer;
    z-index: 3;
}

.fa-chevron-right:hover,  .fa-chevron-left:hover{
    transform: scale(1.2);
    transition: transform 200ms ease-in-out;
}

.nuancier {
    list-style: none;
    display: flex;
    justify-content: left;
    overflow: hidden;
    height: 120px;
    margin-left: 20px;
    width: 90%;
}

.color-circle-wrapper {
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.color-circle-wrapper:hover p{
    border-bottom: black solid 5px;
    display: block;
}

.color-circle-wrapper p {
    text-transform: uppercase;
    padding: 5px 0px;
    display: none;
    font-size: 14px;
}

.color-circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.red {
    background-color: rgb(143, 34, 34);
}

.orange {
    background-color: rgb(161, 73, 32);
}

.yellow {
    background-color: rgb(216, 156, 45);
}

.khaki {
    background-color: rgb(133, 121, 14);
}

.green {
    background-color: rgb(29, 66, 46);
}

.teal {
    background-color: rgb(21, 113, 119);
}

.blue {
    background-color: rgb(41 84 124);
}

.purple {
    background-color: rgb(121 37 106);
}

.pink {
    background-color: rgb(224 153 187);
}

.brown {
    background-color: rgb(141 88 63);
}

.light {
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--light-black);
}

.dark {
    background-color: rgb(0, 0, 0);
}

.input-wrapper {
    margin: 20px auto;
    width: 220px;
}

.search-term {
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-left: 5px;
    border: solid var(--light-black) 1px;
    width: 220px;
    border-radius: 5px 0 0 5px;
}

.search-term:focus {
    outline: none;
}

#search {
    color: white;
    background-color: var(--light-black) ;
    border:solid var(--light-black)  1px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    border-radius: 0 5px 5px 0;
}

#search:hover {
    background-color: black ;
    border:solid black  1px;
}

/* SEARCH RESULTS */

.results {
    margin: 40px 0px;
}

.no-found {
    text-align: center;
    display: none;
}

.no-found p {
    margin-top: 5px;
}

.error-image-ctn {
    height: 110px;
    width: 110px;
    margin: auto;
}

.active {
    display: block;
}