/* MEDIA QUERIES */

@media screen and (max-width: 991px) {
    .category-container {
        width: 520px;
    }

    .nuancier  {
        width: 520px;
        margin-left: 0px;
    }

}

@media screen and (max-height: 800px) {
    .quantity-window{
        overflow-y: initial!important;
    }
}