
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin-left: 10px;
    text-transform: uppercase;
}

nav a:hover {
    font-weight: bold;
}

.nav-selected {
    font-weight: bold;
}