/*TREAD ITEM */

.thread-item {
    position: relative;
    width: 120px;
    margin: 5px 5px 20px 5px;
}

.item-background {
    background-color: var(--beige);
    width: 120px;
    height: 120px;
    border-radius: 5px;
    overflow: hidden;
}

.thread-item:hover .actions-wrapper {
    opacity: 1;
}

.img-color-thread {
    width: 120px;
    height: 120px;
    opacity: 1;
}

.thread-item:hover .img-color-thread {
    opacity: 0;
}

.actions-wrapper {
    opacity: 0;
}

.quantity-wrapper {
    color: white;
    opacity: inherit;
    cursor: pointer;
    width: 35px;
    font-size: 22px;
    margin: 10px 0px;
}

.quantity-wrapper:hover {
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

.quantity-wrapper .fa-pen {
    font-size: 16px;
}

.item-code {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.clear{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    height: 18px;
    width: 18px;
    border: none;
    opacity: inherit;
}

.clear:hover {
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
    background-color: transparent;
}

.fa-times {
    font-size: 16px;
    color: white;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 3px;
}

.action-box .fa-shopping-basket:hover {
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

.action-box .fa-archive:hover {
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

.fa-window-close:hover{
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
}

.thread-item:hover .fa-times {
    opacity: 1;
}

.actions-wrapper .action-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 16px;
    left: 45px;
}

.action-box .fa-shopping-basket, .action-box .fa-archive {
    font-size: 25px;
    opacity: inherit;
    margin: 10px 0px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.line {
    border-bottom: solid white 2px;
    width: 90px;
    opacity: inherit;
    position: absolute;
    top: 43px;
    left: -30px;
}


